body {
  font-family: sans-serif;
}

html,
body,
canvas {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  background: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

#app > div {
  left: 50% !important;
  top: 50% !important;
}
